.container{
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 15px;
    font-style: italic;
    box-shadow: 0 2px 6px rgb(0 0 0/10%),0 8px 16px rgb(0 0 0/10%);

}
body{
    background-color: rgb(194, 171, 171);
}